header {
    height: 120px;
    display: flex;
    background-color: white;
    position:fixed;
    top:0;
    width: 100vw;
    
    div {
      height: inherit;
      border: 1px solid #000;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }

    .header-button {
      width: 113px;
      height: 28px;
      border-radius: 7px;
      background-color: white;
      color: #2CB1BA;
      border-color: #2CB1BA;
    }
    .header-button-variation {
      width: 113px;
      height: 28px;
      border-radius: 7px;
      background-color: #2CB1BA;
      color: white;
      border: none;
    }

    .part-1 {
      height: inherit;
      margin-left: 50px;

      img{
        height: 120px;
      }
    }

    .part-2 {
      flex:4;
      
    }
    .part-3 {
      flex:1;

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      
    }
    .part-4 {
      flex:1;
      margin-right: 50px;
    }
  }